# CODEOWNERS for PowerWorkMate
# Every file in this repository is owned by @unknowIfGuestInDream.
# This owner is automatically requested for review on all pull requests.
# Docs: https://docs.github.com/articles/about-code-owners

* @unknowIfGuestInDream
